body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #abcaa1;
    font-family: 'Courier New', Courier, monospace;
    color: #3c3c3c;
}

.num:hover, .op:hover, .act:hover {
    filter: brightness(1.1);
    cursor: pointer;
}

.calc-display{
    box-sizing: border-box;
    font-size: 32px;
    width: 400px;
    border: 3px solid #3c3c3c;
    border-radius: 15px;
    padding: 12px;
    margin-bottom: 20px; 
    background-color: #f5f2d0;
    font-family: 'Courier New', Courier, monospace;
    box-shadow: inset 2px, 2px, 5px, #d0ceb4;
    color: #2f2f2f;
    text-align: right;
}

.calc-buttons {
    display: flex;
    flex-direction: column;
}

.calc-inputs {
    display: flex;
    flex-direction: row;
}

.calc-numbers {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    height: 400px;
    width: 300px;
}

.num {
    font-family: 'Courier New', Courier, monospace;
    border-radius: 15px;
    box-shadow: 2px 2px 3px #888888;
    box-sizing: border-box;
    height: 100px;
    width: 100px;
    font-size: 25px;
    background-color: #f6bd60;
    font-weight: bold;
    color: #2f2f2f;
}

.zero {
    width: 300px;
    text-align: center;
}

.calc-operators{
    display:flex;
    flex-direction: column;
}

.op {
    font-family: 'Courier New', Courier, monospace;
    height: 100px;
    width: 100px;
    font-size: 25px;
    background-color: #f28482;
    font-weight: bold;
    color: #2f2f2f;
    border-radius: 15px;
    box-shadow: 2px 2px 3px #888888;
}

.calc-action{
    display: flex;
    box-sizing: border-box;
    width: 400px;
}

.act {
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
    height: 100px;
    width: 200px;
    font-size: 25px;
    background-color: #84a59d;
    font-weight: bold;
    color: #f5f2d0;
    border-radius: 15px;
    box-shadow: 2px 2px 3px #888888;
}